@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* width: 27%; */
    position: absolute;
    left: auto;
    top: auto;

    /* background-color: #fff;
    position: fixed;
    top: 15%;
    left: auto;
    width: 400px;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed); */
}

.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;

}
.form-field a{
    text-align: right;
}
.form-field label {
    display: block;
    color: rgb(22, 22, 22);
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}


/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: #007bff;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
}

.btn:hover {
    background: green;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}
/* footer */
.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
    top: 93%;
    position: absolute;
    width: 70%;
  }

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .container {
        width: 400px;
    }
}  

/* Sign In*/
.signin-link {
    display: inline-table;
    transform: translateX(120px);
    margin-bottom: 20px;
    color: var(--bg--color);
  }